.holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1 {
  width: 100px;                /* Width of item-1 */
  height: 100px;               /* Height of item-1 */
  background-color: red;       /* Red background color */
}

/* Your CSS Code here. */